*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x:hidden;
}

body{
  background-color: #c0c0c0;
  width: 1348px;
  font-size: 16px;
}

.page{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
}

nav{
  position: absolute;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
}

.riferimenti{
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 15px 10px;
  font-size: 1.064em;
}

.riferimenti:first-of-type{
  margin-left: 55px;
}

.sezioni{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sezioni > li{
  list-style: none;
  margin-right: 25px;
}



.riferimenti a:visited{
  color: #ffffff;
  text-decoration: none;
}

.riferimenti a:link{
  text-decoration: none;
  color: #ffffff;
}

.riferimenti a:hover{
  text-decoration: underline;
  box-sizing: 30px;
}

.social{
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 950px;
  top:-40px;
}

.social li{
  display: inline;
  list-style: none;
  margin-right: 17px;
}

header{
  width: 100%;
  /*height: 638px;*/
  display: flex;
  justify-content: flex-start;
  margin-bottom: -150px;
  /*background-image: url(images/dark2.jpg);*/
/*  border: 5px solid green;*/

}

header > img{
  width: 100%;
}

header > h1{
   color: white;
   position: relative;
   top: -430px;
   left: 60px;
   font-size: 3.125em;
  /* background-color: #7fffd4;*/
   padding: 5px;
   margin: 1px;
}

header > p{
  color: white;
  position: relative;
  left: 70px;
  top: -420px;
  font-size: 1.5em;
  margin: 1px;
}

section{
  width: 640px;
  height: 480px;
  display: flex;
  position: relative;
  left: 40px;
  margin-top: 60px;

}

#about_me{
  width: 640px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 60px;
  left: 20px;
  margin-bottom: auto;

}

#about_me > p{
  position: relative;
  top: -125px;
  text-align: justify;
}

#about_me > h2{
  position: relative;
  left: -248px;
}

section > h2{
  position: relative;
  left: 13px;
  margin-right: 20px;
}

#future{
  width: 800px;
  height: 400px;
  position: relative;
  left: 300px;
  margin-bottom: 0px;
  top: -50px;
}




footer{
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
  margin-top: 0px;
}

footer > p{
  color: white;
  display: flex;
  position: relative;
  left: 250px;
}

footer > a{
  color: white
}

footer > h4{
  color: white;
  position: relative;
  left: 250px;
}

.informazioni{
  display: flex;
  flex-wrap: wrap;
}


@media only screen and (min-width: 320px) and (max-width:425px){
  #about_me{
    width: 100%;
    position: relative;
    top: 200px;
  }

  #about_me > h2{
    position: relative;
    left: -600px;
    margin-bottom: -30px;
  }

  #about_me > p{
    margin-right: 60px;
  }

  .informazioni{
    display: flex;
    flex-direction: column;
  }

  section{
    width: 100%;
    margin-top: -50px;
    margin-left: -30px;
  }

  #future{
    width: 100%;
    position: relative;
    left: 30px;

  }


  footer{
    width: 100%;
    margin-left: 0px;
  }

  header{
    width: 100%;
    margin-bottom: -350px;
  }

  header > h1{
    display: flex;
    position: relative;
    top:-400px;
    margin-left: -25px;
    font-size: 3.125em;
  }
  header > p{
    display: flex;
    position: relative;
    top:-400px;
    margin-left: -30px;
    font-size: 1.875em;
  }


    header > img{
      width: 100%;
    }

  .social{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 330px;
    top:-40px;
  }

  .social li{
    display: inline;
    list-style: none;
    margin-right: 17px;
  }

  footer > p{
    color: white;
    display: flex;
    position: relative;
    left: 20px;
  }

  footer > h4{
    color: white;
    position: relative;
    left: 20px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 960px){
  #about_me{
    width: 100%;
    position: relative;
    top: 200px;
  }

  #about_me > h2{
    position: relative;
    left: -600px;
    margin-bottom: -30px;
  }

  #about_me > p{
    margin-right: 30px;
  }

  .informazioni{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  section{
    width: 100%;
    margin-top: -50px;
    margin-left: -30px;
  }

  #future{
    width: 100%;
    position: relative;
    left: 30px;

  }

  footer{
    width: 100%;
    margin-left: 0px;
  }

  header{
    width: 100%;
    margin-bottom: -350px;
  }

  header > h1{
    display: flex;
    position: relative;
    top:-400px;
    margin-left: -25px;
    font-size: 3.125em;
  }
  header > p{
    display: flex;
    position: relative;
    top:-400px;
    margin-left: -30px;
    font-size: 1.875em;
  }

  header > img{
    width: 100%;
  }

  .social{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 330px;
    top:-40px;
  }

  .social li{
    display: inline;
    list-style: none;
    margin-right: 17px;
  }

  footer > p{
    color: white;
    display: flex;
    position: relative;
    left: 20px;
  }

  footer > h4{
    color: white;
    position: relative;
    left: 20px;
  }

  }
